<div class="container">
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">These are the list of Rides Posted</p>
        <p class="lead">To Post a Ride</p>
        <a class="btn btn-primary" routerLinkActive="active" routerLink="../ridesposted">Click here</a> 
        
      </div>
    </div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Date</th>
        <th scope="col">Cost</th>
        <th scope="col">Vacancy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ride of rides;">
        <th scope="row">1</th>
        <td>{{ride.from}}</td>
        <td>{{ride.to}}</td>
        <td>{{ride.date}}</td>
        <td>{{ride.cost}}</td>
        <td>{{ride.vacancy}}</td>
        <td><button class="btn bg-warning" (click)="booking(ride._id)">Book</button></td>
      </tr>
    </tbody>
  </table>
</div>