
<head>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <script>
    
      function startDictation(x) {
        console.log("in dictate");
   
     if (window.hasOwnProperty('webkitSpeechRecognition')) {
 
       var recognition = new webkitSpeechRecognition();
 
       recognition.continuous = false;  
       recognition.interimResults = false;
 
       recognition.lang = "en-Us";
       recognition.start();
       recognition.onresult = function(e) {
           if(x=="phone" || x=="aadhar")
               {
         document.getElementById(x).value = parseInt(e.results[0][0].transcript);
         recognition.stop();
               }
           else{ 
               document.getElementById(x).value= e.results[0][0].transcript;
         recognition.stop();
           }
        };
 
       recognition.onerror = function(e) {
         recognition.stop();
       }
 
     }
   
   
   }
     </script>
 </head>
    <body>
        <div class="main-w3layouts wrapper">
            <h1>Post a Ride</h1>
            <div class="main-agileinfo">
                <div class="agileits-top">
                    <form (ngSubmit)= "createridesposted(newride)">
                        <!-- to error: add class "has-danger" -->
                        <div class="form-group">
                          <!-- <label for= "postedby">Posted by</label> -->
                          <input type="hidden" [(ngModel)]="newride.postedby" id="postedby" name="postedby" value=" " class="form-control form-control-sm" required="required"><br>
                        </div>
                        <div class="form-group">
                          <label for= "from">From</label>
                          <input [(ngModel)]="newride.from" id="from" name="from" required="required" class="form-control form-control-sm"><br>
                          <img src="../../assets/images/mike.jpg" width="40px" onclick="startDictation('from')">
                        <!-- <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                        </div>
                        <div class="form-group">
                            <label for= "to">To</label>
                            <input [(ngModel)]="newride.to" id="to" name="to" required="required" class="form-control form-control-sm"><br>
                      <!-- <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                        </div>
                        <div class="form-group">
                            <label for= "date">Date</label>
                            <!-- <input class="form-control" placeholder="Check-in date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="checkindate" id="checkindate" required> -->
                            <input [(ngModel)]="newride.date" id="date" name="date" required="required" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control form-control-sm" ><br>
                      <!-- <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                        </div>
                        <div class="form-group">
                            <label for= "cost">Cost</label>
                            <input [(ngModel)]="newride.cost" id="cost" name="cost" required="required" class="form-control form-control-sm"><br>
                      <!-- <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                        </div>
                        <div class="form-group">
                            <label for= "vacancy">Vacancy</label>
                            <input [(ngModel)]="newride.vacancy" id="vacancy" name="vacancy" required="required" class="form-control form-control-sm"><br>
                      <!-- <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                        </div>
                      <button type="submit" class="btn btn-primary btn-block">Post</button>
                      </form>
                </div>
            </div>
        </div>
    </body>

    



    